.nav-link {
  color: #000; /* Màu chữ */
  font-size: 16px;
}
.nav-item .nav-link {
  margin-top: 11px;
}
.nav-link .bi {
  font-size: 20px;
}
.nav-link:hover {
  background-color: #e9ecef; /* Màu nền khi hover */
}

h2 {
  font-size: 26px; /* Kích thước tiêu đề */
}

.modal {
  display: block; /* Hiển thị modal */
  position: fixed; /* Đặt modal ở vị trí cố định */
  z-index: 1050; /* Đảm bảo modal nằm trên các phần tử khác */
  left: 0;
  top: 0;
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  height: 100%; /* Chiếm toàn bộ chiều cao */
  overflow: hidden; /* Ẩn phần thừa */
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
}

.modal-dialog {
  position: relative;
  margin: auto; /* Căn giữa modal */
  top: 25%; /* Đặt modal ở giữa màn hình */
}

.header {
  position: fixed; /* Giữ thanh header cố định ở đầu */
  top: 0; /* Đặt thanh header ở trên cùng */
  left: 0; /* Đặt thanh header ở bên trái */
  z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
  background-color: #f8f9fa; /* Màu nền cho thanh header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thanh header */
  border-right: 1px solid #d3d3d3; /* Bẏt bóng cho thanh header */
  width: 250px;
}
