<div class="container mt-6">
  <div class="modal-header">
    <h5 class="modal-title">Tạo bài viết mới</h5>
  </div>

  <div class="modal-body text-center">
    <input
      type="text"
      placeholder="Bạn đang nghĩ gì?"
      class="form-control input-text"
    />
    <div class="upload-area">
      <p>Kéo ảnh và video vào đây</p>
      <input
        type="file"
        id="imageUpload"
        class="form-control-file"
        accept="image/*"
        multiple
        (change)="onFilesSelected($event)"
      />
      <button
        class="btn btn-primary mt-3"
        onclick="document.getElementById('imageUpload').click();"
      >
        Chọn từ máy tính
      </button>
    </div>
    <div *ngIf="selectedImages.length > 0" class="image-preview">
      <h5>Ảnh đã chọn:</h5>
      <div class="image-container">
        <div
          *ngFor="let image of selectedImages; let i = index"
          class="image-item"
        >
          <img [src]="image" class="img-thumbnail" />
          <button class="btn btn-danger btn-sm" (click)="removeImage(i)">
            Xóa
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-secondary mt-3">Đăng</button>
  </div>
</div>
