<div *ngIf="user" class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Welcome, {{ user.lastName }}!</h1>
      <h2 class="card-subtitle mb-2 text-muted">User Information</h2>
      <p class="card-text">
        <strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="card-text"><strong>Email:</strong> {{ user.sub }}</p>
      <img
        [src]="user.picture"
        alt="User Picture"
        class="img-fluid rounded-circle mt-3"
      />
    </div>
  </div>
</div>
