<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Thiết lập tài Khoản Instago</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
            <!-- Avatar Preview -->
            <div class="text-center mb-4">
              <img
                [src]="previewUrl || 'https://via.placeholder.com/150'"
                class="rounded-circle avatar-preview"
                (click)="fileInput?.click()"
              />
              <input
                #fileInput
                type="file"
                class="form-control d-none"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
              <small class="text-muted d-block mt-2"
                >Click vào ảnh để thay đổi avatar</small
              >
            </div>

            <!-- Nickname -->
            <div class="form-group">
              <label for="nickname">Nickname</label>
              <input
                placeholder="@account_user"
                type="text"
                id="nickName"
                name="nickName"
                class="form-control"
                [(ngModel)]="profile.nickname"
                required
              />
              <div
                *ngIf="
                  profileForm.controls['nickName']?.invalid &&
                  profileForm.controls['nickName']?.touched
                "
                class="text-danger"
              >
                Vui lòng nhập nickname.
              </div>
            </div>

            <!-- Real Name -->
            <div class="form-group">
              <label for="realName">Tên hiển thị</label>
              <input
                placeholder="Nguyễn Văn A"
                type="text"
                id="realName"
                name="realName"
                class="form-control"
                [(ngModel)]="profile.realName"
                required
              />
              <div
                *ngIf="
                  profileForm.controls['realName']?.invalid &&
                  profileForm.controls['realName']?.touched
                "
                class="text-danger"
              >
                Vui lòng nhập tên hiển thị
              </div>
            </div>

            <!-- Bio -->
            <div class="form-group">
              <label for="bio">Tiểu sử</label>
              <textarea
                id="bio"
                name="bio"
                class="form-control"
                rows="3"
                [(ngModel)]="profile.bio"
              ></textarea>
            </div>

            <!-- linkWebsite -->
            <div class="form-group">
              <label for="nickname">Website</label>
              <input
                type="text"
                id="linkWebsite"
                name="linkWebsite"
                class="form-control"
                [(ngModel)]="profile.linkWebsite"
                required
              />
            </div>

            <div class="text-center mt-4">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!profileForm.form.valid"
              >
                Xác nhận
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
