<div class="container message-container mt-6">
  <a href="/chat-list" class="btn btn-primary">Trở về</a>
  <h2 class="conversation-header">
    Conversation ID: {{ messages[0]?.conversations_id }}
  </h2>
  <h2>{{ user }}</h2>
  <div class="messages">
    <div
      class="message"
      *ngFor="let message of messages"
      [ngClass]="{
        'message-sent': message.sender_id === 1,
        'message-received': message.sender_id === 2
      }"
    >
      <div class="message-content">
        <p class="mb-0">{{ message.content }}</p>
        <span class="message-time text-muted">{{ message.sent_at }}</span>
      </div>
    </div>
  </div>

  <div class="input-group message-input">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newMessage"
      placeholder="Type a message..."
    />
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>
</div>

<style></style>
